.fs-16 {
    font-size: 16pt;
}

.main-color{
    background-color: #37474F;
}

.text-color {
    color: #92e3a9;
}

.button-green {
    background-color: #92e3a9;
}

.button-red {
    color: white;
    background-color: #ed6b6c;
}

:placeholder-shown {
    font-style: italic;
}