#bg-img {
    background-image: url(https://images.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1920);

    min-height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}