/* You can add global styles to this file, and also import other style files */

body{
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.fs-54 {
    font-size: 54pt;
}

.fs-18 {
    font-size: 18pt;
}